.contentMain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background: #6e6e6e;
  display: flex;
  flex-direction: row;
  font-family: arial;
  color: #d1d1d1;
}

.aboutMeLeft {
  width: 30dvw;
  min-width: 480px;
  height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  background: #5e5e5e;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
}

.aboutMeProfileName {
  display: flex;

  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;

  height: fit-content;
  box-sizing: border-box;
  font-size: 20px;
  width: 100%;
  background: rgb(10, 10, 10);
  color: rgb(255, 255, 255);
  padding: 30px 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.aboutMeProfileTop {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.aboutMeProfileLinks {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
}

.profilePicture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 3px;
  border-color: rgba(170, 170, 170, 1);
  filter: drop-shadow(4px 4px 3px rgba(255, 255, 255, 0.5));
  /* turn off pointer events here since I don't want unexpected drags */
  pointer-events: none;
}

.profileName {
  font-weight: bold;
  font-size: 30px;
  filter: drop-shadow(4px 4px 3px rgba(255, 255, 255, 0.5));
  /* turn off pointer events here since I don't want unexpected drags */
  pointer-events: none;
}

.profileCategories {
  width: 100%;
  height: fit-content;
  overflow: scroll;
  box-sizing: border-box;
  border-radius: 3px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  display: flex;
  gap: 2px;
}

.profileCategoryTab {
	width: fit-content;
	height: 45px;
	padding: 5px 5px;
	box-sizing: border-box;
	border-radius: 2px;
	font-weight: bold;
	background: #474747;
	color: #9c9c9c;
	display: flex;
	align-items: center;
	flex-direction: row;
	cursor: default;
	text-decoration: unset;
	flex-wrap: none;
	text-wrap: none;
	flex-shrink: 0;
	flex-grow: 0;
}

.profileCategoryTab:hover {
	text-decoration: underline;
	cursor: pointer;
}

.profileCategoryTab[selected] {
	cursor: default;
	color: #d6d6d6;
	background: #8a8a8a;
	text-decoration: unset;
}

.profileCategoryTab > span {
	user-select: none;
}

.profileStoryContent {
	display: block;
	flex-grow: 1;
	flex-shrink: 1;
	width: 100%;
	overflow: auto;
}

a {
	all: unset;
	cursor: default;
	font-family: arial;
	color: #0092d1;
}

a:hover {
	cursor: pointer;
	text-decoration: underline;
	color: #00a6ed;
}

.creatorSocialLink {
  all: unset;
  display: block;
  padding: 5px 5px;
  border-radius: 5px;
  height: 30px;
  margin-right: 5px;
  background: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
}

.creatorSocialLink > img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  transition: 0.15s;
}

.creatorSocialLink:hover > img {
  transform: scale(1.07);
}

.creatorSocialLink > img {
	height: 100%;
}

.creatorSocialLink:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
}


.projectsSide {
	display: flex;
	flex-grow: 1;
	overflow: auto;
	flex-direction: row;
	color: #e3e3e3;
}

.projectsSideProjectsAndSearch {
	display: flex;
	box-sizing: border-box;
	flex-grow: 1;
	overflow: auto;
	flex-direction: column;
}

.searchProjectsContainer {
	display: flex;
	height: fit-content;
	flex-shrink: 0;
	flex-grow: 0;
	flex-direction: row;
	align-items: center;
	background: #383838;
	font-size: 15px;
	padding: 2px 2px;
}
.searchProjectsInput {
	all: unset;
	color: rgb(0,0,0);
	background: rgb(255,255,255);
	border-style: solid;
	border-width: 2px;
	border-color: rgb(100,100,100);
	padding: 3px 3px;
	display: flex;
	flex-grow: 1;
	box-sizing: border-box;
	border-radius: 5px;
	transition: 0.2s border-color;
}
.searchProjectsInput:focus {
	border-color: rgb(0,100,255);
}

.projectsList {
	display: flex;
	flex-grow: 1;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 2px;
	overflow: auto;
}

.projectContainer {
	display: flex;
}

.project {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: center;
	background-color: #919191;
	justify-content: center;
	gap: 2px;
	padding: 5px 5px;
	border-radius: 3px;
	transition: 0.1s;
	max-width: 500px;
	max-height: 400px;
	border-style: solid;
	border-width: 4px;
	border-color: rgba(0,0,0,0);
}
.project:hover {
	cursor: pointer;
	background-color: #dbdbdb;
	border-color: rgba(0, 0, 0, 0.553);
}

.project > span {
	color: rgba(0,0,0,0.5);
	font-weight: bold;
	user-select: none;
	pointer-events: none;
	font-size: 20px;
}
.project:hover > span {
	color: rgba(83, 83, 83, 0.5);
}
.project > img {
	max-width: 350px;
	height: 250px;
	min-width: 250px;
	object-fit: contain;
	pointer-events: none;
	user-select: none;
	border-radius: 5px;
}

.projectInformation {
	display: flex;
	flex-direction: column;
	padding: 4px 4px;
}

.projectInformationName {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px 2px;
	font-weight: bold;
	font-size: 20px;
}

.projectInformationImage {
	max-width: 350px;
	height: 250px;
	min-width: 250px;
	object-fit: contain;
	pointer-events: none;
	user-select: none;
	border-radius: 5px;
}

.projectInformationDescription {
	display: block;
	font-size: 15px;
	width: 100%;
	flex-grow: 1;
	flex-shrink: 1;
	overflow: auto;
}